<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string><%= EXT_AUTHOR %></string>
	<key>Builder Version</key>
	<string>9537.48.3</string>
	<key>CFBundleDisplayName</key>
	<string><%= EXT_DISPLAY_NAME %></string>
	<key>CFBundleIdentifier</key>
	<string><%= EXT_BUNDLE_ID %></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string><%= @ext_version %></string>
	<key>CFBundleVersion</key>
	<string><%= @ext_version %></string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background-safari.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Identifier</key>
				<string>DexPopover</string>
				<key>Height</key>
				<real>400</real>
				<key>Width</key>
				<real>300</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>DexToolbarItem</string>
				<key>Image</key>
				<string>toolbar-button-icon-safari.png</string>
				<key>Label</key>
				<string>Dex Toolbar Item</string>
				<key>Popover</key>
				<string>DexPopover</string>
				<key>Tool Tip</key>
				<string>Show Dex menu</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array><% @content_scripts.each do |filename| %>
				<string><%= filename %></string><% end %>
			</array>
		</dict>
		<key>Whitelist</key>
		<array><% EXT_WHITELIST.each do |pattern| %>
			<string><%= pattern %></string><% end %>
		</array>
	</dict>
	<key>Description</key>
	<string><%= EXT_DESC %></string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string><%= EXT_URL %></string>
	<key>Update Manifest URL</key>
	<string><%= EXT_SAFARI_UPDATE_MANIFEST_URL %></string>
</dict>
</plist>
